@media (max-width: 480px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 50px;
  }
  footer div:last-child {
    width: 100%;
    margin-inline: auto;
  }
  footer div:last-child p {
    text-align: center;
  }
  footer div:last-child div:first-child {
    text-align: center;
    margin-inline: auto;
  }
  footer ul {
    margin-inline: auto;
    text-align: center;
  }
  footer .socials {
    flex-wrap: wrap;
    width: 90%;
    margin: 50px auto;
  }
  .subscribe {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .subscribe p {
    font-size: 26px;
    margin: auto;
  }
  .subscribe input {
    width: 90%;
    margin-top: 20px;
  }
  .subscribe button {
    position: static;
    margin-top: 15px;
  }
  section.roadmap {
    margin-top: 70px;
    gap: 50px;
  }
  section.roadmap .roadmap_container {
    flex-direction: column;
    align-items: center;
  }
  section.roadmap .phase {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.roadmap .blue {
    width: 3px;
    height: 60px;
    margin-top: 0px;
  }
  section.our_partners {
    gap: 50px;
  }
  section.our_partners img {
    width: 38vw;
  }
  .sectionHeading {
    font-size: 30px !important;
  }
  .sectionParagraph {
    font-size: 12px !important;
    text-align: left !important;
  }
  section.our_team {
    flex-direction: column;
    margin-top: 50px;
  }
  section.our_team .sectionHeading {
    text-align: center !important;
  }
  section.our_team .left {
    width: 90%;
  }
  section.our_team .right {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 30px;
  }
  section.our_team .right .card {
    position: static !important;
    opacity: 1 !important;
    width: 70% !important;
    transform: none !important;
    max-width: 350px;
    transition: none !important;
  }
  section.our_team .right .card div {
    width: 100% !important;
  }
  section.about_us {
    flex-direction: column-reverse;
    width: 100%;
    padding: 10px;
  }
  section.about_us .right {
    width: 100%;
  }
  section.about_us .right .sectionHeading {
    text-align: center;
    width: 100%;
  }
  section.about_us .right .sectionButton {
    display: block;
    margin: 30px auto !important;
    font-size: 20px;
    padding: 8px;
  }
  section.about_us .left {
    display: none;
  }
  .our_projects {
    padding: 40px 0px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: auto;
  }
  .our_projects h1 {
    width: 190px;
    font-size: 25px;
    text-align: center;
    margin-top: 0px;
  }
  .our_projects .projectBox {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: static !important;
  }
  .our_projects .projectBox > div {
    width: 90% !important;
    position: static !important;
    transform: translateY(0);
    margin: 50px auto;
  }
  .our_projects .projectBox .main_image {
    width: 40px;
  }
  .our_projects .projectBox h2 {
    display: flex;
    gap: 0px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
  }
  .our_projects .projectBox h2 span {
    font-weight: 600;
  }
  .our_projects .projectBox > div > div:first-child {
    display: flex;
    gap: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  .our_projects .projectBox p {
    font-size: 14px;
    width: 90vw;
    margin-top: 20px;
  }
  .our_projects .projectBox .buttons .other {
    padding: 8px;
    border-radius: 8px;
    width: 25vw;
    font-size: 16px;
  }
  .our_projects .projectBox .buttons .seemore {
    padding: 8px;
    border-radius: 8px;
    width: 50vw;
    font-size: 16px;
  }
  .our_projects .projectBox > img,
.our_projects .projectBox .background {
    position: absolute;
  }
  .our_projects .projectBox .imageOne {
    display: none;
  }
  .our_projects .projectBox .imageTwo {
    display: none;
  }
  .our_projects:nth-child(odd) .projectBox > div {
    transform: translateX(0%);
  }
  .greeter .background {
    width: 200vw;
    aspect-ratio: 1.5/1;
    height: auto;
    min-height: 100vh;
    left: -50vw;
  }
  .greeter .background h1 {
    -webkit-animation: nomadao_mobile 1.4s linear 1 forwards;
            animation: nomadao_mobile 1.4s linear 1 forwards;
  }
  .greeter .content header .buttons {
    display: none;
  }
  .greeter .content header nav {
    display: none;
  }
  .greeter .content header img {
    width: 40vw;
  }
  .greeter .content header .burger_menu {
    display: block;
    width: 10vw;
  }
  .greeter .content .socials {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 66%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
  }
  .greeter .content .booknow {
    width: 54vw;
    font-size: 6.6vw;
  }
  .greeter .content > p {
    width: 76%;
    text-align: center;
    top: 75%;
  }
  section.roadmap .blue_active {
    height: 120px;
  }
  .greeter .content .see_more {
    width: 100%;
    justify-content: center;
    bottom: 20px;
  }
}
@-webkit-keyframes nomadao_mobile {
  from {
    opacity: 0.2;
    bottom: 30.814%;
    font-size: 8vw;
  }
  to {
    opacity: 1;
    bottom: 58%;
    font-size: 22vw;
  }
}
@keyframes nomadao_mobile {
  from {
    opacity: 0.2;
    bottom: 30.814%;
    font-size: 8vw;
  }
  to {
    opacity: 1;
    bottom: 58%;
    font-size: 22vw;
  }
}/*# sourceMappingURL=responsive.css.map */