@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
body {
  background: #d8d8d8;
  background-image: url(../Images/background_shape.svg), url(../Images/background_shape4.svg), url(../Images/background_shape.svg), url(../Images/background_shape2.svg), url(../Images/background_shape3.svg), url(../Images/background_shape5.svg);
  background-repeat: no-repeat;
  background-position: right top 15%, right top 60%, right top 105%, left top 90%, left top 50%, left top 17%;
}

.main {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: auto;
}

section .sectionHeading {
  font-family: "Inter";
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  text-align: right;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fe7c31;
}
section .sectionParagraph {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #202020;
}
section .sectionButton {
  font-family: "Inter";
  font-weight: 500;
  font-size: 29.98px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #ececec;
  padding: 8px 16px;
  background: #fe7c31;
  border-radius: 8px;
  margin-top: 48px;
}

.greeter {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Albert Sans", sans-serif;
  scroll-snap-align: start;
  overflow-y: hidden;
}
.greeter > img {
  position: absolute;
}
.greeter .mountain {
  width: 40.4vw;
  position: absolute;
  height: 41.8vh;
  bottom: 34vh;
  right: -1.01vw;
  z-index: 2;
  -webkit-animation: mountain 1.4s linear 1 forwards;
          animation: mountain 1.4s linear 1 forwards;
}
.greeter .sky {
  z-index: 0;
  width: 131.5vw;
  height: 80.1vh;
  top: -11vh;
  left: -11vw;
  -webkit-animation: sky 1.4s linear 1 forwards;
          animation: sky 1.4s linear 1 forwards;
}
.greeter .background {
  width: 100vw;
  height: 82.5vh;
  bottom: 0px;
  z-index: 0;
  -webkit-animation: blur 1.4s linear 1 forwards;
          animation: blur 1.4s linear 1 forwards;
}
.greeter .socials {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.greeter .socials img {
  cursor: pointer;
}
.greeter .socials img:first-child {
  height: 40px;
}
.greeter h1 {
  position: absolute;
  z-index: 1;
  left: 27.08%;
  bottom: 20%;
  opacity: 0.2;
  mix-blend-mode: color-dodge;
  font-family: "Gemunu Libre";
  font-weight: 700;
  font-size: 12.2vw;
  letter-spacing: -0.02em;
  color: #ececec;
  -webkit-animation: nomadao 1.4s linear 1 forwards;
          animation: nomadao 1.4s linear 1 forwards;
}
.greeter header {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px;
  border-bottom: 4px solid rgba(236, 236, 236, 0.5);
}
.greeter header img {
  width: 13.1vw;
}
.greeter header ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
.greeter header li {
  font-weight: 400;
  font-size: 20px;
  color: #ececec;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-family: "Albert Sans";
}
.greeter header li img {
  width: 18px;
}
.greeter header li.active {
  font-weight: 600;
  position: relative;
}
.greeter header li.active::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #fe7c31;
  position: absolute;
  left: 0px;
  bottom: -10px;
}
.greeter header .buttons {
  display: flex;
  gap: 20px;
}
.greeter header .buttons button {
  border-radius: 16px;
  padding: 8px 24px 8px 24px;
  font-weight: 400;
  font-size: 20px;
  color: #ececec;
  background: transparent;
  border: 1px solid #ececec;
  cursor: pointer;
  font-family: "Albert Sans", sans-serif;
}
.greeter header .buttons button:first-child {
  background: #fe7c31;
  border: none;
}
.greeter .booknow {
  width: 24vw;
  aspect-ratio: 4/1;
  background: rgba(65, 65, 65, 0.1);
  border: 1px solid #ececec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 8px;
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  top: 55vh;
  font-weight: 500;
  font-size: 2.6vw;
  color: #ececec;
  cursor: pointer;
  font-family: "Albert Sans", sans-serif;
}
.greeter > p {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  top: 71vh;
  font-weight: 500;
  font-size: 24px;
  line-height: 80px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ececec;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(11, 11, 11, 0.25);
}
.greeter .see_more {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  top: 86vh;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-weight: 300;
  font-size: 25px;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #ececec;
  text-shadow: 0px 5.17647px 5.17647px rgba(11, 11, 11, 0.25);
}
.greeter .see_more img {
  width: 25px;
}

.our_projects {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 100vh;
  padding: 0px 100px 0px 100px;
  scroll-snap-align: start;
}
.our_projects h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto;
  font-family: "Inter";
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fe7c31;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
}
.our_projects .projectBox {
  position: relative;
}
.our_projects .projectBox > div {
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
}
.our_projects .projectBox .main_image {
  width: 4vw;
}
.our_projects .projectBox h2 {
  display: flex;
  gap: 0px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 3vw;
  line-height: 99px;
  color: #202020;
}
.our_projects .projectBox h2 span {
  font-weight: 600;
}
.our_projects .projectBox > div > div:first-child {
  display: flex;
  gap: 20px;
}
.our_projects .projectBox p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 39px;
  letter-spacing: -0.02em;
  color: #202020;
  width: 45vw;
  margin-top: 40px;
}
.our_projects .projectBox .buttons {
  display: flex;
  gap: 16px;
  margin-top: 30px;
}
.our_projects .projectBox .buttons .other {
  padding: 8px 16px;
  background: #202020;
  border-radius: 8px;
  width: 10vw;
  font-family: "Inter";
  font-weight: 500;
  font-size: 2vw;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #ececec;
}
.our_projects .projectBox .buttons .seemore {
  padding: 8px 16px;
  background: #fe7c31;
  border-radius: 8px;
  width: 20vw;
  font-family: "Inter";
  font-weight: 500;
  font-size: 2vw;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #ececec;
}
.our_projects .projectBox > img,
.our_projects .projectBox .background {
  position: absolute;
}
.our_projects .projectBox .imageOne {
  right: 18vw;
  top: 17vh;
  width: 20vw;
}
.our_projects .projectBox .imageTwo {
  right: 10vw;
  top: 56vh;
  width: 12vw;
}

.our_projects:nth-child(odd) .projectBox > div {
  right: 0;
}
.our_projects:nth-child(odd) .projectBox .imageOne {
  left: 12vw;
}
.our_projects:nth-child(odd) .projectBox .imageTwo {
  left: 5vw;
}
.our_projects:nth-child(odd) .projectBox .background {
  left: -10vw;
}

.about_us {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-inline: 100px;
}
.about_us .left {
  width: 40vw;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about_us .right {
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.about_us .background {
  top: 10vh;
  right: -10vw;
}

section.our_team {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
}
section.our_team .left {
  width: 30vw;
}
section.our_team .left .sectionHeading {
  text-align: left;
}
section.our_team .left .sectionParagraph {
  text-align: left;
}
section.our_team .right {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  width: 650px;
  height: 350px;
}
section.our_team .right .card div {
  position: relative;
  border: 5px solid transparent;
  background: #202020;
  border-radius: 24px;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #ececec;
  font-family: "Manrope";
}
section.our_team .right .card div .title {
  font-weight: 600;
  font-size: 22px;
}
section.our_team .right .card div .description {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
section.our_team .right .card div .splitter {
  width: 70%;
  border-bottom: 1px solid black;
  border-radius: 1px;
  padding: 0px;
}
section.our_team .right .card div button {
  display: flex;
  align-items: center;
  gap: 18px;
  background: none;
  font-weight: 500;
  font-size: 16px;
  color: #ececec;
  padding: 0px;
}
section.our_team .right .card div button p {
  margin-top: 6px;
}
section.our_team .right .card div::after {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  background: linear-gradient(104.45deg, #166b8c 5.01%, rgba(46, 235, 167, 0.76) 51.63%, #fe7c31 96.36%);
  z-index: -1;
  border-radius: 24px;
}
section.our_team .right .card {
  position: absolute;
  opacity: 0.8;
  transition: all 1s linear, opacity 0s, z-index 0s;
  transition-property: top left;
}
section.our_team .right .card:first-child {
  left: 0px;
  top: 0px;
}
section.our_team .right .card:nth-child(2) {
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
section.our_team .right .card:last-child {
  left: 350px;
  top: 0px;
}

section.our_partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 150px;
}
section.our_partners .sectionHeading {
  text-align: center;
}
section.our_partners .sectionParagraph {
  width: 70vw;
  text-align: center;
}
section.our_partners .partners {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

section.roadmap {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
section.roadmap .sectionHeading {
  text-align: center;
}
section.roadmap .roadmap_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
section.roadmap .blue {
  width: 100px;
  height: 3px;
  border-radius: 2px;
  background-color: rgb(18, 125, 214);
  margin-top: 20px;
}
section.roadmap .blue_active {
  width: 250px;
}
section.roadmap .phase {
  color: #202020;
  width: 103px;
}
section.roadmap .phase button {
  width: 103px;
  height: 40px;
  background: rgba(216, 216, 216, 0.2);
  border: 2px solid #fe7c31;
  border-radius: 16px;
  font-family: "Albert Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
section.roadmap .phase h4 {
  font-family: "Albert Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  text-align: left;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 30px;
}
section.roadmap .phase ul {
  margin-top: 15px;
  list-style-type: disc;
  list-style-position: inside;
  font-family: "Albert Sans";
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
section.roadmap .phase ul li {
  margin-bottom: 10px;
  width: 170px;
}
section.roadmap .phase_active button {
  background-color: #fe7c31;
}

.subscribe {
  margin: 140px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;
  position: relative;
}
.subscribe p {
  font-family: "Albert Sans";
  font-size: 32px;
  line-height: 38px;
  color: #202020;
}
.subscribe input::-moz-placeholder {
  font-family: "Albert Sans";
  font-size: 24px;
  color: #b1b1b1;
}
.subscribe input:-ms-input-placeholder {
  font-family: "Albert Sans";
  font-size: 24px;
  color: #b1b1b1;
}
.subscribe input::placeholder {
  font-family: "Albert Sans";
  font-size: 24px;
  color: #b1b1b1;
}
.subscribe input {
  background: #ececec;
  font-family: "Albert Sans";
  font-size: 24px;
  border: 1px solid #9e9e9e;
  border-radius: 16px;
  color: #202020;
  padding: 16px 26px 16px 24px;
  height: 61px;
}
.subscribe button {
  position: absolute;
  right: -158px;
  width: 182px;
  height: 61px;
  background: #fe7c31;
  border: 1px solid #202020;
  border-radius: 16px;
  font-family: "Albert Sans";
  font-size: 24px;
  text-align: center;
  color: #202020;
}

footer {
  margin-top: 90px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #202020;
  font-family: "Albert Sans";
}
footer > div {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
footer li {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}
footer li:first-child {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
footer p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
footer p:first-child {
  font-weight: 500;
  font-size: 20px;
}
footer .email {
  margin-top: 30px;
}
footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

@-webkit-keyframes nomadao {
  from {
    bottom: 32%;
    opacity: 0.2;
    mix-blend-mode: color-dodge;
    z-index: 0;
  }
  to {
    bottom: 56%;
    opacity: 1;
    mix-blend-mode: normal;
    z-index: 1;
  }
}

@keyframes nomadao {
  from {
    bottom: 32%;
    opacity: 0.2;
    mix-blend-mode: color-dodge;
    z-index: 0;
  }
  to {
    bottom: 56%;
    opacity: 1;
    mix-blend-mode: normal;
    z-index: 1;
  }
}
@-webkit-keyframes sky {
  from {
    width: 131.5vw;
    height: 80.1vh;
    top: -11vh;
    left: -11vw;
    transform: scale(1);
  }
  to {
    width: 108vw;
    height: 51vh;
    top: 0px;
    left: -4%;
  }
}
@keyframes sky {
  from {
    width: 131.5vw;
    height: 80.1vh;
    top: -11vh;
    left: -11vw;
    transform: scale(1);
  }
  to {
    width: 108vw;
    height: 51vh;
    top: 0px;
    left: -4%;
  }
}
@-webkit-keyframes blur {
  from {
    filter: blur(4px);
    transform: scale(1.3);
  }
  to {
    filter: blur(0px);
    transform: scale(1);
  }
}
@keyframes blur {
  from {
    filter: blur(4px);
    transform: scale(1.3);
  }
  to {
    filter: blur(0px);
    transform: scale(1);
  }
}
@-webkit-keyframes mountain {
  from {
    filter: blur(4px);
    transform: scale(1.3);
    right: -10vw;
    bottom: 38vh;
  }
  to {
    filter: blur(0px);
    transform: scale(1);
    bottom: 34vh;
    right: -1.01vw;
  }
}
@keyframes mountain {
  from {
    filter: blur(4px);
    transform: scale(1.3);
    right: -10vw;
    bottom: 38vh;
  }
  to {
    filter: blur(0px);
    transform: scale(1);
    bottom: 34vh;
    right: -1.01vw;
  }
}/*# sourceMappingURL=styles.css.map */