// Fonts
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

// Colors
$gray200: #d8d8d8;
$black: #202020;
$white: #ececec;
$orange: #fe7c31;
$blue: #166a8c;
$green: #2eeba7;
$dashboard_blue: #009bd8;
$b07: rgba(32, 32, 32, 0.7);

$gradient: linear-gradient(100deg, #166b8c, rgba(46, 235, 167, 0.76), #fe7c31, rgba(46, 235, 167, 0.76), #166b8c);

#dashboard {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Inter";
  font-size: 16px;
  padding: 20px;
  color: $white;
}

.nft {
  width: 190px;
  height: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gold,
.yourNFT.gold {
  background: radial-gradient(167.12% 330.48% at 110.66% 129.39%, rgb(226, 191, 54) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #202020;
}
.silver,
.yourNFT.silver {
  background: radial-gradient(167.12% 330.48% at 110.66% 129.39%, rgba(238, 241, 240, 0.78) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #202020;
}
.bronze,
.yourNFT.bronze {
  background: radial-gradient(165.63% 327.53% at 109.17% 115.38%, rgba(185, 159, 145, 0.3588) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #202020;
}

.top {
  width: 100%;
  background: linear-gradient(104.45deg, rgb(20, 99, 131) 5.01%, rgb(40, 202, 143) 96.35%);
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  padding: 10px;
  padding-bottom: 50px;
  padding-left: 120px;
  color: $white;

  .last {
    display: flex;
    gap: 15px;
    align-items: center;
    img {
      width: 30px;
    }
    div {
      p {
        font-family: "Gemunu Libre";

        &:first-child {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
  .balance {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #balance {
    font-size: 20px;
  }

  a {
    color: $white;
    font-weight: 500;
  }
}

aside {
  position: absolute;
  top: 40px;
  width: fit-content;
  height: calc(100vh - 80px);
  padding: 30px;
  padding-top: 30px;
  border-radius: 8px;
  background: rgba(32, 32, 32, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  #expand {
    width: 20px;
    height: 40px;
    background-color: $white;
    border-radius: 4px 0px 0px 4px;
    border: none;
    position: absolute;
    right: 0px;
    top: 30px;
    cursor: pointer;
  }
  .icon-expand {
    transition: all 0.5s;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  li {
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 30px;
    font-size: 16px;
    i {
      width: 16px;
      text-align: center;
    }
    cursor: pointer;
    span {
      display: none;
    }
  }
  li.active {
    background-color: $green;
    color: $black;
  }
  .home {
    margin-top: 80px;
  }
  .mywallet {
    margin-top: 20px;
  }
  .signout {
    a {
      color: $white;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 8px;
    }
  }
  div {
    span,
    div {
      display: none;
    }
  }
}
aside.active {
  li {
    width: 150px;
    justify-content: flex-start;

    span {
      display: block;
    }
  }
  div span {
    display: block;
  }
}
.bottom {
  margin-top: 30px;
  padding-left: 120px;
}
.yourNFT {
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter";
  border: 4px solid $black;
  border-radius: 8px;
  padding: 10px;
  width: fit-content;
  img {
    margin-top: 15px;
    width: 200px;
  }
}
.light .yourNFT {
  color: $black;
}
.fares {
  height: 375px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 10px;
  .thin {
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
  }
}
.light .fares {
  color: $black;
}
.container_fares {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 280px;
  overflow-y: auto;
  padding-right: 20px;
}
.flight_box {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #c5c5c5;
  padding: 15px;
  border-radius: 10px;
  span.low {
    color: #3fb280;
  }
  div {
    padding: 10px;
    border-radius: 10px;
    background: #3f3f3f;
    font-size: 14px;
    width: 140px;
    text-align: center;
  }
  button {
    background-color: $white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      color: $white;
      background-color: $black;
    }
  }
}
.flight_box.low {
  background-color: #3fb280;
}
// SCROLLBAR
.container_fares::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: $white;
  border-radius: 10px;
}
.container_fares::-webkit-scrollbar {
  width: 12px;
  background-color: $white;
  border-radius: 10px;
}
.container_fares::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $orange;
}
.assets {
  margin-top: 30px;
}
.container_owned_fares {
  margin-top: 20px;
  padding-right: 30px;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container_owned_fares::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: $white;
  border-radius: 10px;
}
.container_owned_fares::-webkit-scrollbar {
  width: 12px;
  background-color: $white;
  border-radius: 10px;
}
.container_owned_fares::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $orange;
}

#space {
  width: 91%;
  background-color: $b07;
  margin-left: 100px;
  border-radius: 10px;
  margin-top: -30px;
  padding: 20px;
}

.section {
  display: none;
  header {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    color: $white;
    padding-bottom: 30px;
    p {
      cursor: pointer;
    }
    p.active {
      color: $dashboard_blue;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 30px;
        left: 0px;
        width: 100%;
        border-bottom: 2px solid $dashboard_blue;
      }
    }
  }
  .sectView {
    display: none;
    position: relative;
  }
}
#Dashboard {
  display: flex;
}

.dashInp {
  width: 100%;
  padding: 10px;
  background: #3f3f3f;
  border: 1px solid #ececec;
  border-radius: 8px;
  color: $white;
  &:focus {
    outline: none;
  }
}
// Account
.personal_details {
  display: flex;
  justify-content: space-between;
  .left,
  .right {
    width: 48%;
  }
}

label {
  margin-top: 20px;
  display: block;
}
input {
  margin-top: 10px;
  display: block;
  font-family: "Inter";
}
input[type="search"] {
  padding-left: 35px;
}
.fa-search {
  position: absolute;
  left: 31%;
  top: 12px;
  font-size: 14px;
}
.asset_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #424242;
  padding: 20px;
  border-radius: 8px;
  margin-top: 15px;
  p {
    font-size: 12px;
    color: $gray200;
  }
  p:first-child {
    font-size: 16px;
    color: $white;
    margin-bottom: 5px;
  }
  & > div:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
    i {
      padding: 10px;
      background-color: $green;
      color: $black;
      border-radius: 6px;
    }
    div {
      width: 270px;
      max-width: fit-content;
    }
  }

  button {
    width: 100px;
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    color: $white;
    background: $dashboard_blue;
    cursor: pointer;
    &:first-child {
      background: #2eeba7;
      color: $black;
    }
  }
}

// deposit

.mthds div {
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.336);
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
  }
}
.mthds{
  display: flex;
}
.deposit{
  button{
    border: none;
    padding: 10px 90px;
    font-size: 16px;
    background-color: $dashboard_blue;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    color: $white;
  }
}