@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #d8d8d8;
  color: #202020;
  font-size: 10px;
  position: relative;
}

.dark .container {
  background-color: #202020;
  color: #ececec;
}

html {
  scroll-behavior: smooth;
}

a,
button,
li,
i {
  cursor: pointer;
  color: #ececec;
}

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ececec;
  border-radius: 10px;
}

html::-webkit-scrollbar {
  width: 12px;
  background-color: #ececec;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fe7c31;
}

.bg-gradients {
  background-image: url(./Images/v-left.png), url(./Images/v-right.png), url(./Images/v-left.png), url(./Images/v-right.png), url(./Images/v-left.png), url(./Images/v-right.png), url(./Images/v-left.png), url(./Images/v-right.png);
  background-size: 50vw 50vw;
  background-position: left 0vh, right 100vh, left 200vh, right 290vh, left 390vh, right 480vh, left 600vh, right 700vh;
  background-repeat: no-repeat;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 1920px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.4784313725);
  padding: 8px 16px;
  gap: 20px;
}
header .nomadao_logo {
  width: 30px;
}
header ul {
  display: flex;
  gap: 25px;
  align-items: center;
}
header li {
  font-family: "Albert Sans";
  font-size: 1.8em;
  color: #ececec;
}
header li:hover {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
header li a {
  color: #ececec;
}
header li span {
  display: inline-block;
  vertical-align: middle;
}
header li img {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
  margin-left: 10px;
}
header li.active {
  font-weight: 600;
  position: relative;
}
header li.active::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #fe7c31;
  position: absolute;
  left: 0px;
  bottom: -10px;
  border-radius: 4px;
}
header .buyNFT {
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 1.5em;
  background: transparent;
  font-family: "Albert Sans", sans-serif;
  background: #fe7c31;
  color: #ececec;
  border: none;
}
header .buyNFT:hover {
  background-image: linear-gradient(100deg, #166b8c, rgba(46, 235, 167, 0.76), #fe7c31, rgba(46, 235, 167, 0.76), #166b8c);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 0 0;
  animation: gradients 10s linear infinite alternate;
}
header .buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}
header .last {
  display: none;
}
header .theme {
  color: #ececec;
}
header img {
  width: 150px;
}
header li img {
  width: 12px;
  margin-top: 2px;
  margin-left: 2px;
}
header .drop_down_activated img {
  transform: rotate(180deg);
}

#logo {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Gemunu Libre";
  font-size: 26px;
  font-weight: 700;
}

.header_active {
  width: 100vw;
  height: 100vh;
  background-color: #202020;
  align-items: center;
}
.header_active nav {
  display: block;
  width: 100%;
  height: 80vh;
}
.header_active nav ul {
  flex-direction: column;
  gap: 40px;
}
.header_active nav .buyNFT {
  display: block;
}

.burger_menu {
  display: none;
}

#drop_down {
  position: relative;
}
#drop_down img {
  transition: all 0.2s;
}

.dropdown_active_mobile {
  width: 95vw;
  left: 50%;
  max-width: none !important;
  transform: translateX(-50%);
}
.dropdown_active_mobile a {
  width: 100%;
}

.drop_down {
  background: rgba(32, 32, 32, 0.7215686275);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 10px 0px;
  width: 80vw;
  max-width: 380px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 30px;
  text-shadow: none;
  display: none;
  z-index: 1000000;
}
.drop_down a {
  display: block;
  margin-top: 12px;
  padding: 10px;
  position: relative;
}
.drop_down a::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  bottom: -5px;
  background-color: rgba(236, 236, 236, 0.0941176471);
}
.drop_down a:first-child {
  margin-top: 0px;
}
.drop_down a:hover {
  background-color: rgba(236, 236, 236, 0.1607843137);
}
.drop_down .project {
  font-family: "Albert Sans";
  font-size: 16px;
  color: #fe7c31;
  font-weight: bold;
}
.drop_down .project_description {
  font-family: "Albert Sans";
  font-size: 12px;
  margin-top: 4px;
  color: #ececec;
  font-weight: 200;
}

#hotelsmap {
  display: block;
  margin: 100px auto;
  width: 50%;
  aspect-ratio: 1/0.6;
  border-radius: 20px;
}

.hotelname {
  color: #202020;
  font-weight: 600;
}

.menuOpen {
  display: none;
}

.section-title {
  font-size: 64px;
  position: relative;
  text-align: center;
  color: #fe7c31;
  font-family: "Inter";
  padding-top: 100px;
  font-weight: 700;
}

@keyframes gradients {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 45% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 90%;
  }
  75% {
    background-position: 45%;
  }
  100% {
    background-position: 0 0;
  }
}
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Albert Sans", sans-serif;
  box-shadow: 0px 0px 10px 5px #202020;
}
.landing .content {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.landing .content .socials {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.landing .content .socials img {
  cursor: pointer;
}
.landing .content .socials img:first-child {
  height: 40px;
}
.landing .content h1 {
  position: absolute;
  z-index: 1;
  left: 27.08%;
  bottom: 20%;
  opacity: 0.2;
  mix-blend-mode: color-dodge;
  font-family: "Gemunu Libre";
  font-weight: 700;
  font-size: 12.2vw;
  letter-spacing: -0.02em;
  color: #ececec;
  animation: nomadao 1.4s linear 1 forwards;
}
.landing .content .booknow {
  width: 24vw;
  aspect-ratio: 4/1;
  background: rgba(65, 65, 65, 0.1);
  border: 1px solid #ececec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 8px;
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  top: 55vh;
  font-weight: 500;
  font-size: 2.6vw;
  color: #ececec;
  font-family: "Albert Sans", sans-serif;
}
.landing .content .booknow:hover {
  background: rgba(65, 65, 65, 0.3);
}
.landing .content > p {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  top: 71vh;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ececec;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(11, 11, 11, 0.25);
}
.landing .content .see_more {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  top: 86vh;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #ececec;
  text-shadow: 0px 5.17647px 5.17647px rgba(11, 11, 11, 0.25);
}
.landing .content .see_more img {
  width: 25px;
}
.landing .background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  aspect-ratio: 1.6/1;
  top: 0;
  left: 0;
  animation: blur 1.4s linear 1 forwards;
}
.landing .background h1 {
  position: absolute;
  font-family: "Gemunu Libre";
  font-style: normal;
  font-weight: 700;
  font-size: 12vw;
  color: #ececec;
  left: 50%;
  text-shadow: 0px 0px 3px #202020;
  transform: translateX(-50%);
  bottom: 55%;
  z-index: 10;
  animation: nomadao 1.4s linear 1 forwards;
}
.landing .background .mountain {
  position: absolute;
  width: 40.486%;
  height: 42.814%;
  bottom: 32.814%;
  right: 0px;
  z-index: 11;
  transition: all 2s;
}
.landing .background .sky {
  position: absolute;
  width: 300vw;
  height: 80vh;
  top: 0px;
  left: 0px;
  transition: all 2s;
}
.landing .background .land {
  position: absolute;
  width: 100%;
  height: 81.543%;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  transition: all 2s;
}

@keyframes blur {
  from {
    transform: scale(1.5);
    filter: blur(1px);
  }
  to {
    transform: scale(1);
    filter: blur(0px);
  }
}
@keyframes nomadao {
  from {
    opacity: 0.2;
    bottom: 30.814%;
    font-size: 8vw;
  }
  to {
    opacity: 1;
    bottom: 55%;
    font-size: 12vw;
  }
}
#bookingForm {
  max-width: 870px;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18vh;
  padding: 20px;
  background: rgba(95, 95, 95, 0.5);
  -webkit-backdrop-filter: blur(5.5px);
          backdrop-filter: blur(5.5px);
  border-radius: 12px;
}
#bookingForm .inner {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
}
#bookingForm .inner .hotel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#bookingForm .inner .hotel div {
  display: flex;
  align-items: center;
  gap: 12px;
}
#bookingForm .inner .hotel div span,
#bookingForm .inner .hotel div label {
  font-family: "Albert Sans";
  font-size: 12px;
  color: #3f3f3f;
}
#bookingForm .inner .hotel div label {
  cursor: pointer;
}
#bookingForm .inner .hotel div input {
  width: 120px;
  height: 30px;
  padding: 8px 12px;
  background: #ffffff;
  border-radius: 12px;
  border: none;
  background-image: url(../Images/add.svg);
  background-repeat: no-repeat;
  background-position: 92% center;
}
#bookingForm .inner .hotel div input:focus {
  outline: none;
}
#bookingForm .inner .hotel div input[type=date] {
  background-image: none;
}
#bookingForm .inner .hotel div select {
  background: none;
  border: none;
  outline: none;
}
#bookingForm .inner .hotel div select:focus {
  outline: none;
}
#bookingForm .inner .hotel div option {
  background: none;
  border: none;
  outline: none;
}
#bookingForm .inner .splitter {
  width: 2px;
  height: 30px;
  background-color: #c5c5c5;
}
#bookingForm .top {
  padding-inline: 12px;
  background: #ececec;
  box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  border-radius: 8px;
  position: absolute;
  top: 0px;
  left: 42px;
  transform: translateY(-50%);
}
#bookingForm .top ul {
  display: flex;
}
#bookingForm .top li {
  color: #202020;
  padding: 8px;
  font-size: 12px;
}
#bookingForm .top .active {
  background-color: #202020;
  color: #ececec;
}
#bookingForm .search {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 14px 24px;
  color: #202020;
  background-color: #ececec;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 42px;
  bottom: 0px;
  transform: translateY(50%);
}

.wrapper {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.wrapper:nth-child(odd) .aligner {
  flex-direction: row-reverse;
}
.wrapper:nth-child(odd) .orange-bg {
  transform: scaleX(-1);
}
.wrapper .pic {
  position: relative;
}
.wrapper .orange-image {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 10px;
}
.wrapper .learn-more {
  margin-bottom: 30px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.content * {
  font-family: "Inter";
}

.aligner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.wrap,
.pic {
  width: 35%;
}

.orange-bg {
  width: 100%;
}

h3 {
  font-size: 96px;
  font-weight: 400;
  color: #202020;
}

.title-head h3 span {
  font-weight: 600;
}

.pretitle span {
  font-weight: 300;
  font-size: 24px;
  color: #202020;
}

.pretitle {
  width: 100%;
  margin-top: 20px;
}

.more {
  outline: none;
  border: none;
  background: #fe7c31;
  -webkit-backdrop-filter: blur(8.5px);
          backdrop-filter: blur(8.5px);
  height: 72px;
  width: 100%;
  border-radius: 8px;
  color: #ececec;
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
  font-weight: 400;
  font-size: 28px;
  align-items: center;
  cursor: pointer;
}

.more .arrow {
  margin-top: 4.5px;
}

.pic {
  width: 25%;
}

.wrap {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}

.more-mobile {
  display: none;
}

@media (max-width: 1750px) {
  .content .text .title-head h3 {
    font-size: 60px;
  }
  .pic {
    width: 25%;
  }
}
@media (max-width: 1330px) {
  .content .text .title-head h3 {
    font-size: 50px;
  }
  .content .text .pretitle span {
    font-size: 20px;
  }
  .content .text .pretitle {
    margin-top: 5px;
    width: 410px;
  }
  .more {
    display: none;
  }
  .more-mobile {
    display: flex;
  }
}
.dark .title-head h3 {
  color: #ececec;
}
.dark .pretitle span {
  color: #ececec;
}
.dark #about_us p {
  color: #ececec;
}
.dark #featured .cont img {
  padding: 10px;
  background-color: #ececec;
  border-radius: 8px;
}

.projectSection {
  width: 100%;
  overflow: hidden;
  font-family: "Inter";
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.projectSection .sectionHeading {
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  color: #fe7c31;
  text-transform: uppercase;
}
.projectSection h2 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 70px;
  font-weight: 400;
  text-transform: uppercase;
}
.projectSection h2 span {
  font-weight: 700;
}
.projectSection p {
  width: 600px;
  font-size: 20px;
  margin-top: 30px;
}
.projectSection .images {
  width: 400px;
}
.projectSection .images img {
  border-radius: 20px;
}
.projectSection .images .imageOne {
  width: 100%;
}
.projectSection .images .imageTwo {
  margin-top: 30px;
  margin-left: 30%;
  width: 70%;
}

.projectSection:nth-child(even) {
  flex-direction: row-reverse;
}

.sectionTitle {
  color: #fe7c31;
  font-weight: 600;
  font-size: 48px;
  font-family: "Inter";
  text-transform: uppercase;
}

.sectionParagraph {
  color: #202020;
  font-size: 24px;
  font-weight: 500;
  margin-top: 64px;
  font-family: "Inter";
}

.dark .sectionParagraph {
  color: #ececec;
}

#about_us {
  width: 80%;
  margin: 100px auto;
  gap: 50px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
#about_us svg {
  width: 677px;
  height: 470px;
}
#about_us .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  align-self: stretch;
  gap: 50px;
}
#about_us .right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
#about_us * {
  font-family: "Inter";
}
#about_us p {
  font-size: 24px;
  color: #202020;
  font-weight: 400;
}
#about_us p span {
  font-weight: 600;
}
#about_us .btn {
  outline: none;
  background: #fe7c31;
  border-radius: 8px;
  width: 330px;
  height: 52px;
  color: #ececec;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
#about_us .dissapaer-resp {
  display: block;
}
#about_us .appaer-resp {
  display: none;
}
@media (max-width: 1308px) {
  #about_us .about-us-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #about_us .left {
    height: unset;
  }
  #about_us .dissapaer-resp {
    display: none !important;
  }
  #about_us .appaer-resp {
    display: block !important;
  }
  #about_us .left {
    width: 100%;
  }
  #about_us .right {
    width: 100%;
    justify-content: center;
    margin: 24px 0px;
  }
}
@media (max-width: 778px) {
  #about_us p {
    font-size: 20px;
  }
  #about_us .btn {
    width: 148px;
    height: 35px;
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  #about_us svg {
    width: unset !important;
    height: unset !important;
  }
}

#our_partners {
  padding-top: 100px;
  overflow: hidden;
}
#our_partners .sectionTitle {
  text-align: center;
}
#our_partners .swiper {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30px;
  display: flex;
  gap: 30px;
  position: relative;
  height: 250px;
}
#our_partners .swiper-slide {
  position: absolute;
  width: 250px;
  height: 250px;
  cursor: pointer;
  transition: all 0.3s linear;
}
#our_partners .swiper-slide img {
  width: 100%;
}

#featured {
  margin-top: 200px;
}
#featured .sectionTitle {
  text-align: center;
}
#featured .cont {
  display: flex;
  justify-content: center;
  padding-inline: 20px;
  gap: 100px;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin-top: 50px;
}
#featured .cont img {
  width: 280px;
}
#featured .featured_card {
  display: flex;
  position: relative;
  width: 90%;
  max-width: 427px;
  padding: 16px;
  background: white;
  border-radius: 24px;
  gap: 21px;
}
#featured .featured_card::after {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  background: linear-gradient(104.45deg, #166b8c 5.01%, rgba(46, 235, 167, 0.76) 51.63%, #fe7c31 96.36%);
  z-index: -1;
  border-radius: 24px;
}
#featured .featured_card > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 16px;
}
#featured .featured_card h4 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
}
#featured .featured_card p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  margin-top: 16px;
}
#featured .featured_card button {
  padding: 8px 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
}

#roadmap {
  overflow: hidden;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#roadmap .sectionHeading {
  text-align: center;
}
#roadmap .roadmap_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
#roadmap .blue {
  width: 4vw;
  height: 3px;
  border-radius: 2px;
  background-color: rgb(18, 125, 214);
  margin-top: 20px;
}
#roadmap .blue_active {
  width: 7vw;
}
#roadmap .phase {
  color: #202020;
  width: 103px;
}
#roadmap .phase button {
  width: 103px;
  height: 40px;
  background: rgba(216, 216, 216, 0.2);
  border: 2px solid #fe7c31;
  border-radius: 16px;
  font-family: "Albert Sans";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #202020;
}
#roadmap .phase h4 {
  font-family: "Albert Sans";
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 30px;
}
#roadmap .phase ul {
  margin-top: 15px;
  list-style-type: disc;
  list-style-position: inside;
  font-family: "Albert Sans";
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
#roadmap .phase ul li {
  margin-bottom: 10px;
  width: 170px;
  color: #202020;
}
#roadmap .phase_active button {
  background-color: #fe7c31;
}

.dark #roadmap .phase button {
  color: #ececec;
}
.dark #roadmap .phase h4 {
  color: #ececec;
}
.dark #roadmap .phase li {
  color: #ececec;
}

#subscribe {
  margin: 200px auto;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  flex-wrap: wrap;
  position: relative;
}
#subscribe p {
  font-family: "Albert Sans";
  font-size: 32px;
  color: #202020;
}
#subscribe input::-moz-placeholder {
  font-family: "Albert Sans";
  font-size: 24px;
  color: #b1b1b1;
}
#subscribe input::placeholder {
  font-family: "Albert Sans";
  font-size: 24px;
  color: #b1b1b1;
}
#subscribe input {
  background: #ececec;
  font-family: "Albert Sans";
  font-size: 20px;
  border: 1px solid #9e9e9e;
  border-radius: 16px;
  color: #202020;
  padding: 16px 26px 16px 24px;
  height: 40px;
}
#subscribe button {
  position: absolute;
  z-index: 1;
  right: -118px;
  width: 140px;
  height: 40px;
  background: #fe7c31;
  border: 1px solid #fe7c31;
  border-radius: 16px;
  font-family: "Albert Sans";
  font-size: 20px;
  text-align: center;
  color: #ececec;
  background-clip: padding-box;
}
#subscribe button:hover {
  animation: float 2s linear infinite;
}

.dark #subscribe p {
  color: #ececec;
}

footer {
  margin-top: 90px;
  padding: 30px 0px;
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #202020;
  font-family: "Albert Sans";
}
footer .socials a i {
  color: #202020;
}
footer li {
  color: #202020;
}
footer > div {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
footer > div:nth-child(4) {
  flex-direction: column;
  gap: 10px;
}
footer > div:nth-child(4) .email {
  margin-top: 0px;
}
footer > div:nth-child(5) {
  flex-direction: column;
  gap: 10px;
}
footer > div:nth-child(5) p {
  text-align: center;
}
footer li {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}
footer li:first-child {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
footer p {
  font-size: 18px;
  font-weight: 400;
}
footer p:first-child {
  font-weight: 500;
  font-size: 20px;
}
footer p:last-child {
  margin-top: 10px;
}
footer .email {
  margin-top: 30px;
}
footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
footer .apart {
  height: 100px;
  width: 2px;
  background: #9e9e9e;
}
footer .footer_logo {
  width: 50px;
  height: 60px;
  background-image: url(../Images/logo_black.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.dark footer {
  color: #ececec;
}
.dark footer .socials a i {
  color: #ececec;
}
.dark footer li {
  color: #ececec;
}
.dark footer .footer_logo {
  background-image: url(../Images/logo.png);
}

#panel {
  width: 300px;
  height: 200px;
  position: absolute;
  z-index: 100000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  padding: 10px;
  gap: 20px;
}
#panel #close_panel {
  position: absolute;
  right: 15px;
  top: 15px;
}
#panel .fa-spinner {
  display: none;
  animation: spin 3s linear infinite;
}

#dashboard {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#metamask {
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 20px;
  background: transparent;
  border: 1px solid #ececec;
  font-family: "Albert Sans", sans-serif;
  background: #ececec;
  color: #202020;
}
#metamask:hover {
  color: #ececec;
  background: #202020;
}
#metamask img {
  width: 25px;
}

#alert {
  color: #ececec;
  display: none;
  font-family: "Inter";
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#alert a {
  color: #fe7c31;
}

@media (max-width: 1320px) {
  #subscribe {
    flex-direction: column;
  }
  #subscribe button {
    position: static;
  }
  #subscribe p {
    font-size: 26px;
  }
}
@media (max-width: 1100px) {
  #roadmap {
    margin-top: 70px;
    gap: 50px;
  }
  #roadmap .roadmap_container {
    flex-direction: column;
    align-items: center;
  }
  #roadmap .phase {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #roadmap .blue {
    width: 3px;
    height: 60px;
    margin-top: 0px;
  }
  #roadmap .blue_active {
    height: 120px;
  }
  .projectSection h2 {
    font-size: 30px;
  }
  .projectSection h2 span {
    font-weight: 700;
  }
  .projectSection p {
    width: 350px;
    font-size: 16px;
    margin-top: 20px;
  }
  .projectSection .images {
    width: 200px;
  }
  footer .apart {
    display: none;
  }
  footer {
    padding: 20px;
    gap: 30px;
  }
  .sectionTitle {
    font-size: 36px;
  }
  .sectionParagraph {
    font-size: 20px;
  }
}
@media (max-width: 1050px) {
  #bookingForm {
    width: 480px;
    padding: 20px;
  }
  #bookingForm .inner .hotel {
    flex-direction: column;
    gap: 10px;
  }
  #bookingForm .inner .hotel > div {
    width: 100%;
    justify-content: space-between;
  }
  #bookingForm .inner .hotel > div:last-child {
    justify-content: flex-start;
  }
  #bookingForm .inner .splitter {
    display: none !important;
  }
  #bookingForm .search {
    padding: 8px 12px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: -18px;
  }
}
@media (max-width: 875px) {
  .landing .background {
    width: 150vw;
    left: -25vw;
  }
  .landing .background .sky {
    width: 375vw;
  }
}
@media (max-width: 680px) {
  header {
    justify-content: space-between;
  }
  header nav,
  header .buyNFT {
    display: none;
  }
  .landing .background {
    width: 400vw;
    left: -150vw;
  }
  .landing .background h1 {
    animation: nomadao2 1.4s linear 1 forwards;
    transition: text-shadow 1.4s;
  }
  .landing .background .sky {
    width: 1000vw;
  }
  .landing .content .socials {
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100vh - 140px);
    width: -moz-fit-content;
    width: fit-content;
  }
  .landing .content .socials .fa-4x {
    font-size: 3em;
  }
  .landing .content .see_more {
    top: 90vh;
  }
  .menuOpen {
    display: block;
    margin-left: 10px;
  }
  .light .landing .background h1 {
    color: #ececec;
    text-shadow: 0px 0px 5px black;
  }
  .projectSection {
    margin-top: 50px;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .projectSection .sectionHeading {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .projectSection .side {
    width: 100%;
  }
  .projectSection h2 {
    font-size: 24px;
  }
  .projectSection p {
    width: 100%;
    font-size: 16px;
  }
  .projectSection .images {
    margin: 30px auto;
    width: 100%;
  }
  .projectSection .images img {
    border-radius: 60px;
  }
  .projectSection .images .imageOne {
    width: 100%;
  }
  .projectSection .images .imageTwo {
    display: none;
  }
}
@media (max-width: 481px) {
  #bookingForm {
    width: 270px;
    padding: 20px;
    bottom: 26%;
  }
  #bookingForm .top {
    width: 270px;
    left: 0px;
    padding: 0px;
    top: -15px;
  }
  #bookingForm .top ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: auto;
  }
  #bookingForm .top ul li {
    font-size: 15px;
    padding: 6px;
    border-radius: 6px;
    text-align: center;
  }
  #bookingForm .inner .hotel {
    flex-direction: column;
    gap: 20px;
  }
  #bookingForm .inner .hotel > div {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #bookingForm .inner .hotel > div:last-child {
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }
  #bookingForm .inner .hotel > div .dates {
    flex-direction: column;
  }
  #bookingForm .inner .splitter {
    display: none !important;
  }
  #bookingForm .search {
    left: auto;
    bottom: 0px;
    right: 0px;
    transform: none;
  }
  #bookingForm .inner .hotel div span {
    font-size: 16px;
  }
  #bookingForm .inner .hotel div input {
    width: 100%;
  }
  .landing .content .socials {
    top: auto;
    bottom: 16%;
  }
  .landing .content .see_more {
    top: auto;
    bottom: 10%;
  }
  #bookingForm .inner .hotel div input[type=date] {
    width: 194px;
    color: #202020;
  }
  .sectionTitle {
    font-size: 26px;
  }
  .sectionParagraph {
    font-size: 14px;
    margin-top: 10px;
  }
}
@media (max-width: 340px) {
  #logo h1 {
    display: none;
  }
  .sectionTitle {
    font-size: 26px;
  }
  .sectionParagraph {
    font-size: 12px;
    margin-top: 10px;
  }
}
@media (max-width: 330px) {
  footer > div:nth-child(2) {
    align-items: center;
    justify-content: center;
  }
  footer {
    text-align: center;
  }
}
@keyframes nomadao2 {
  from {
    opacity: 0.2;
    bottom: 30.814%;
    font-size: 8vw;
  }
  to {
    opacity: 1;
    bottom: 85%;
    font-size: 18vw;
  }
}
@media (max-width: 480px) {
  .section-title {
    font-size: 32px;
  }
  .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .more {
    display: none;
  }
  .more-mobile {
    display: flex;
  }
  .aligner {
    margin: 0 auto;
    width: 90%;
    flex-direction: column;
  }
  .wrap,
  .pic {
    width: 100%;
    gap: 0px;
  }
  #mod {
    width: 80% !important;
    height: 50% !important;
  }
  .content .text .pretitle span {
    width: 80%;
  }
  .pic {
    margin-top: 20px;
  }
  .pretitle {
    width: 100% !important;
    margin-top: 20px !important;
  }
  .content .text .title-head h3 {
    font-size: 36px;
    text-align: center;
    width: 100%;
  }
  .more-mobile {
    width: 50%;
    font-size: 20px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 8px 16px;
    display: block;
    margin: 30px auto;
  }
  .more-mobile .arrow {
    display: none;
  }
  #about_us {
    flex-direction: column;
    gap: 0px;
    margin: 20px auto;
  }
  #about_us .btn {
    display: none !important;
  }
  #featured .cont img {
    width: 120px;
  }
  #subscribe {
    margin: 50px auto;
  }
  #our_partners .swiper-slide {
    width: 120px;
    height: 120px;
  }
  #our_partners .swiper {
    height: 120px;
    gap: 15px;
  }
  .bg-gradients {
    background-size: 80vw 80vw;
    background-position: left 0vh, right 100vh, left 200vh, right 290vh, left 370vh, right 470vh, left 570vh, right 640vh;
    background-repeat: no-repeat;
  }
}/*# sourceMappingURL=styles.css.map */